<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Assignments/eximpe/src/main/java/org/eximpe/assign">
        <classes>
            <class name="Eximpe">
                <methods>
                    <include name="Open"/>
                    <include name="About"/>
                    <include name="Employee"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>